Goodness of Fit Test:   
Apakah jawaban responden terhadap pilihan tenor pinjaman terdistribusi secara uniform (merata) atau tidak.

In [1]:
import pandas as pd
from scipy.stats import chisquare
from IPython.display import display  # Tambahkan ini untuk menampilkan tabel di Jupyter

# Load data
df = pd.read_excel("Dataset_Tubes.xlsx")

# Ambil kolom yang relevan dan hapus nilai kosong
tenor_data = df["Berapa_jangka_waktu_tenor_pinjaman_yang_Anda_ajukan"].dropna()

# Urutkan kategori sesuai keinginan
ordered_categories = [
    "<15 hari", "16 hari - 1 bulan", "1 - 3 bulan",
    "3 - 6 bulan", "6 - 1 tahun", ">1 tahun"
]
observed_freq = tenor_data.value_counts().reindex(ordered_categories, fill_value=0)

# Buat ekspektasi uniform (semua kategori punya frekuensi sama)
expected_freq = [observed_freq.sum() / len(observed_freq)] * len(observed_freq)

# Uji Chi-Square Goodness of Fit
chi2_stat, p_value = chisquare(f_obs=observed_freq, f_exp=expected_freq)

# Buat DataFrame hasil
result_df = pd.DataFrame({
    "Kategori": ordered_categories,
    "Frekuensi Observasi": observed_freq.values,
    "Frekuensi Ekspektasi": [round(val, 2) for val in expected_freq]
})

print("=== Tabel Goodness of Fit Chi-Square ===")
display(result_df)  # Tampilkan tabel di Jupyter Notebook
print(f"\nChi-Square Statistic: {chi2_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# Evaluasi hipotesis

=== Tabel Goodness of Fit Chi-Square ===

            Kategori  Frekuensi Observasi  Frekuensi Ekspektasi
0           <15 hari                  879                163.83
1  16 hari - 1 bulan                   20                163.83
2        1 - 3 bulan                   38                163.83
3        3 - 6 bulan                   30                163.83
4        6 - 1 tahun                    0                163.83
5           >1 tahun                   16                163.83

Chi-Square Statistic: 3751.3296
P-value: 0.0000

Independence Test:
Apakah distribusi penggunaan AI bergantung pada tingkat pendidikan?

In [2]:
import pandas as pd
from scipy.stats import chi2_contingency

# Load data
df = pd.read_excel("Dataset_Tubes.xlsx")

# Kolom yang digunakan
ai_col = 'Apakah_Anda_Pernah_menggunakan_aplikasi__layanan_AI__Seberapa_sering_Anda_menggunakan_aplikasi__layanan_AI'
pend_col = 'Pendidikan_terakhir'

# Normalisasi data
df[ai_col] = df[ai_col].astype(str).str.strip().str.lower()
df[pend_col] = df[pend_col].astype(str).str.strip().str.lower()

# Crosstab
ctab = pd.crosstab(df[ai_col], df[pend_col])

print("=== Tabel Kontingensi (Frekuensi Observasi) ===")
display(ctab)  # Jika di Jupyter Notebook, gunakan display agar tabel rapi

chi2, p, dof, expected = chi2_contingency(ctab)

# Tabel ekspektasi
expected_df = pd.DataFrame(expected, index=ctab.index, columns=ctab.columns)
print("\n=== Tabel Frekuensi Ekspektasi ===")
display(expected_df.round(2))

print("\n=== Hasil Uji Chi-Square ===")
print(f"Chi-Square Statistic: {chi2:.4f}")
print(f"Degrees of Freedom : {dof}")
print(f"P-value           : {p:.4f}")

alpha = 0.05
if p < alpha:
    print("Tolak H0: Ada hubungan antara frekuensi penggunaan AI dan pendidikan terakhir.")
else:
    print("Gagal tolak H0: Tidak ada bukti hubungan antara frekuensi penggunaan AI dan pendidikan terakhir.")

=== Tabel Kontingensi (Frekuensi Observasi) ===

Pendidikan_terakhir,d1,d2,d3,d4,s1,s2,s3,sd,sma,smk,smp
Apakah_Anda_Pernah_menggunakan_aplikasi__layanan_AI__Seberapa_sering_Anda_menggunakan_aplikasi__layanan_AI,,,,,,,,,,,
"pernah, tapi sangat jarang",0,0,8,1,34,13,1,0,18,0,1
tidak pernah,1,1,8,0,39,2,0,0,19,1,0
"ya, jarang (beberapa kali sebulan)",0,0,1,0,39,11,2,0,14,0,0
"ya, kadang-kadang (beberapa kali seminggu)",0,3,13,0,71,25,3,1,138,3,1
"ya, sangat sering (setiap hari)",1,0,2,0,68,10,3,0,117,0,3
"ya, sering (hampir setiap hari)",1,2,5,1,88,25,3,0,195,2,2

=== Tabel Frekuensi Ekspektasi ===

Pendidikan_terakhir,d1,d2,d3,d4,s1,s2,s3,sd,sma,smk,smp
Apakah_Anda_Pernah_menggunakan_aplikasi__layanan_AI__Seberapa_sering_Anda_menggunakan_aplikasi__layanan_AI,,,,,,,,,,,
"pernah, tapi sangat jarang",0.23,0.46,2.81,0.15,25.76,6.54,0.91,0.08,38.08,0.46,0.53
tidak pernah,0.21,0.43,2.63,0.14,24.07,6.11,0.85,0.07,35.57,0.43,0.50
"ya, jarang (beberapa kali sebulan)",0.20,0.40,2.48,0.13,22.71,5.76,0.80,0.07,33.57,0.40,0.47
"ya, kadang-kadang (beberapa kali seminggu)",0.77,1.55,9.55,0.52,87.46,22.19,3.10,0.26,129.26,1.55,1.81
"ya, sangat sering (setiap hari)",0.61,1.22,7.55,0.41,69.16,17.54,2.45,0.20,102.20,1.22,1.43
"ya, sering (hampir setiap hari)",0.97,1.94,11.99,0.65,109.84,27.86,3.89,0.32,162.32,1.94,2.27

=== Hasil Uji Chi-Square ===
Chi-Square Statistic: 146.9731
Degrees of Freedom : 50
P-value           : 0.0000
Tolak H0: Ada hubungan antara frekuensi penggunaan AI dan pendidikan terakhir.

Homogeneity Test:
Apakah distribusi frekuensi penggunaan layanan Mobile Banking adalah sama di seluruh kelompok usia

In [4]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
from IPython.display import display  # Agar tabel tampil rapi di Jupyter

# Load dataset
df = pd.read_excel("Dataset_Tubes.xlsx")

# Bersihkan dan binning kolom usia
bins = [0, 20, 30, 40, 50, 60, 100]
labels = ['<20', '21-30', '31-40', '41-50', '51-60', '>60']
df['Usia_Kategori'] = pd.cut(df['Usia__dalam_tahun'], bins=bins, labels=labels, right=True)

# Kolom yang akan dianalisis
col_mbank = 'Bagaimana_frekuensi_penggunaan_layanan_layanan_Bank_berikut___Mobile_Banking'

# Bersihkan isi kolom
df[col_mbank] = df[col_mbank].astype(str).str.strip().str.lower()

# Crosstab: populasi = usia kategori, variabel = frekuensi penggunaan mobile banking
cross_tab = pd.crosstab(df['Usia_Kategori'], df[col_mbank])

print("=== Tabel Kontingensi (Frekuensi Observasi) ===")
display(cross_tab)
print("\n")

# Uji Homogenitas (Chi-Square Test)
chi2, p, dof, expected = chi2_contingency(cross_tab)

# Tabel ekspektasi
expected_df = pd.DataFrame(expected, index=cross_tab.index, columns=cross_tab.columns)
print("=== Tabel Frekuensi Ekspektasi ===")
display(expected_df.round(2))
print("\n")

# Hasil uji
print("=== Hasil Uji Homogenitas ===")
print(f"Chi-Square Statistic : {chi2:.4f}")
print(f"Degrees of Freedom   : {dof}")
print(f"P-value              : {p:.4f}")

# Kesimpulan
alpha = 0.05
if p < alpha:
    print(f"\nTolak H0: Distribusi frekuensi penggunaan mobile banking berbeda antar kelompok usia.")
else:
    print(f"\nGagal tolak H0: Distribusi frekuensi penggunaan mobile banking serupa antar kelompok usia.")

=== Tabel Kontingensi (Frekuensi Observasi) ===

Bagaimana_frekuensi_penggunaan_layanan_layanan_Bank_berikut___Mobile_Banking,2-5 kali per bulan,6-9 kali per bulan,>10 kali per bulan,kurang dari/setidaknya 1 kali per bulan,tidak pernah
Usia_Kategori,,,,,
<20,37,48,368,16,10
21-30,48,51,141,10,4
31-40,12,9,48,3,2
41-50,9,16,82,3,1
51-60,8,10,51,0,1
>60,1,3,6,2,0

=== Tabel Frekuensi Ekspektasi ===

Bagaimana_frekuensi_penggunaan_layanan_layanan_Bank_berikut___Mobile_Banking,2-5 kali per bulan,6-9 kali per bulan,>10 kali per bulan,kurang dari/setidaknya 1 kali per bulan,tidak pernah
Usia_Kategori,,,,,
<20,55.08,65.62,333.38,16.29,8.62
21-30,29.21,34.80,176.78,8.64,4.57
31-40,8.51,10.14,51.50,2.52,1.33
41-50,12.76,15.21,77.26,3.77,2.00
51-60,8.05,9.59,48.72,2.38,1.26
>60,1.38,1.64,8.35,0.41,0.22

=== Hasil Uji Homogenitas ===
Chi-Square Statistic : 56.8481
Degrees of Freedom   : 20
P-value              : 0.0000

Tolak H0: Distribusi frekuensi penggunaan mobile banking berbeda antar kelompok usia.